@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Alata', sans-serif;
    background-color: #1C1C33;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Navbar Styling */

nav {
    background-color: #1C1C33;
}

.nav-link {
    color: #F6F6F8;
	font-size: 17px;
}

.nav-link:hover {
	color: #57D9A6;
}

.logo-img {
    width: 310px;
    height: 92px;
}

#navbarNav {
	margin-left: 6rem;
}

.navbar-toggler {
	background-color: #F6F6F8;
}

.navbar-toggler-icon {
	background-color: #F6F6F8; 
}

.social-container {
    display: flex;
    justify-content: end;
	width: 300px;
}

.social-media img {
    margin: 0.2rem;
    max-width: 24px;
    max-height: 24px;
}

.social-media img:hover {
	transform: scale(1.15);
}

.admin-icon-container i {
    max-width: 32px;
    max-height: 32px;
	color: #F6F6F8;
}

/* Hero styling */

.hero {
	display: flex;
	flex-direction: row;
}

.left-hero-section {
	margin-left: 2rem;
}

.left-hero-section h2 {
	color: #F6F6F8;
	border-bottom: 1px solid #57D9A6;
	padding-bottom: 0.5rem;
	margin-top: 4rem;
	width: 20%;
	text-align: center;
}

.left-hero-section h1 {
	color: #F6F6F8;
	font-size: 30px;
	margin-top: 2rem;
}

.left-hero-section p {
	color: #F6F6F8;
	margin: 2rem 0 2rem 0;
	font-size: 15px;
}

.btn-main-style {
	width: 149px;
	height: 51px;
	border-radius: 10px 10px 10px 10px;
	background-color: #57D9A6;
	border-color: #57D9A6;
}

.btn-main-style a {
	text-decoration: none;
	color: #1C1C33;
}

.overlay img {
	border-radius: 0 233px 233px 249px;
	margin: 4rem 2rem 2rem 5rem;
	-webkit-box-shadow: 0px 5px 20px 30px rgba(0,0,0,0.16);
	-moz-box-shadow: 0px 5px 20px 30px rgba(0,0,0,0.16);
	box-shadow: 0px 5px 20px 30px rgba(0,0,0,0.16);
	position: relative;
}


/* Upcoming events */

.subtitle-main-style {
	color: #F6F6F8;
	border-bottom: 1px solid #57D9A6;
	width: 250px;
	text-align: center;
	margin: 2rem 0 0 40%;
	padding-bottom: 0.5rem;
	font-size: 20px;
}

.events {
	margin-top: 3rem;
	justify-content: center;
}

.row {
	gap: 0.5rem;
}

.new-event {
	width: 414px;
	height: 576px;
	background-color: #F6F6F8;
	color: #1C1C33;
	border-radius: 15px 15px 15px 15px;
	padding: 0;
}

.new-event img{
	width: 414px;
	height: 239px;
	border-radius: 15px 15px 0 0;
}

.new-event p {
	margin-top: 1.5rem;
	padding: 0.9em;
}

.new-event button {
	margin: 5rem 0 0 7rem;
}

/* testimonials style */

.testimonials-div {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 3rem;
}

.testimonials {
	width: 310px;
	height: 350px;
	background-color: #57D9A6;
	border-radius: 10px 10px 10px 10px;
}

.testimonials p {
	padding: 0.8em;
	margin-top: 3rem;
}
/* Footer styling */

footer h2 {
	color: #F6F6F8;
	margin-top: 3rem;
	background-color: #1C1C33;
}

/* Inscripcion */ 

.registration-form {
	margin-top: 3rem;
}

label {
	color: #F6F6F8;
}

.btn-form {
	width: 114px;
	height: 30px;
	border-radius: 5px 5px 5px 5px;
	background-color: #57D9A6;
	border-color: #57D9A6;
}

.btn-container {
	display: flex;
	margin-top: 3rem;
	gap: 0.5rem;
	justify-content: center;
}

.btn-form:hover {
	transform: scale(1.03);
}

.btn-form a {
	text-decoration: none;
	color: #1C1C33;
}

/* Pagina de Confirmacion */

#info-container {
	color: #1C1C33;
	margin-top: 3rem;
	background-color: #F6F6F8;
}

#info {
	padding: 1rem;
}

.confirm-btn {
	margin: 2rem 0 1rem 1rem;
}

.payment-label {
	color: #1C1C33;
}

/* Estilos Sobre */

.sobre-body {
	background-color: #F6F6F8;
}

.top-div {
	max-width: 90%;
	height: 276px;
	background-color: #1C1C33;
	margin-top: 4rem;
	margin-left: 5%;
}

.sobre-txt {
	background-color: white;
	margin-top: 2rem;
	margin-left: 5%;
}

.sobre-txt p {
	padding: 0.8rem;
	padding-bottom: 1rem;
}

.sobre-subtitle {
	font-size: 20px;
	margin: 2rem 0 1rem 0.8rem;
	border-bottom: 1px solid #57D9A6;
	width: 200px;
	text-align: center;
	padding-bottom: 0.5rem;
}

.green-div {
	background-color: #57D9A6;
	height: 432.19px;
	width: 252px;
	margin-top: 2rem;
	margin-left: 1rem;
}

/* Estilos confirmacion */

.valor-confirmacion {
	margin-top: 1rem;
	font-size: 20px;
}

/* Estilos validacion Pago */

.input-control input:focus {
	outline: 0;
}

.input-control.success input{
	border-color: #09c372;
}

.input-control.error input{
	border-color: #ff3860;
}

.input-control .error{
	color: #ff3860;
	font-size: 10px;
	height: 13px;
}

/*Admin page*/

#participantes-div {
	background-color: #F6F6F8;
}

#btn-admin {
	margin: 2rem;
}